<div class="auth">
  <img class="auth__logo" src="assets/sources/images/logo.svg" alt="logo">
  <div class="auth__body">
    <form [formGroup]="form" class="auth__form auth__form-complete">
      <h2 class="auth__title">Complete registration</h2>
      <input [formControlName]="'customerName'" class="auth__input" required type="text" placeholder="Customer Name">
      <span *ngIf="customerName.hasError('required')" class="auth__error">Required!</span>
      <input [formControlName]="'customerAddress'" class="auth__input" required type="text" placeholder="Customer Address">
      <span *ngIf="customerAddress.hasError('required')" class="auth__error">Required!</span>
      <input [formControlName]="'dayNames'" class="auth__input" required type="text" placeholder="Delivery Days (Mon, Wed)">
      <span *ngIf="dayNames.hasError('required')" class="auth__error">Required!</span>
      <button (click)="complete()" class="auth__button">Complete</button>
    </form>
  </div>
</div>
